///////////////////
//               //
// GLOBAL'S SCSS //
//               //
///////////////////

* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  @include lato;
  color: map-get($text-settings, text-color);
  font-size: map-get($text-settings, text-size);
  background: map-get($text-settings, bg-color);
}

main {
  max-width: 1240px;
  margin: 0 auto;
  padding: 10px;
}

a {
  text-decoration: none;
  color: map-get($text-settings, text-color);
}
